        .ftitle{
            font-size:14px;
            font-weight:bold;
            padding:5px 0;
            margin-bottom:10px;
            border-bottom:1px solid #ccc;
        }
		.amTdLabel{
			font-size: 15px;
			padding-bottom: 5px;
		}
		.amTdContent{
			padding-bottom: 5px;
		}
		.amTdRight{
			font-size:15px;
			padding-left: 30px;
		}